<md-dialog aria-label="$ctrl.title">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="$ctrl.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon mmd-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="history in $ctrl.historyRecords" ng-click="null">
          <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
          <span ng-bind="$index+1" class="md-avatar"></span>
          <div class="md-list-item-text" layout="column">
            <h3>{{ history.execTime }}</h3>
            <h4>{{ history.status }}</h4>
            <p>{{ history.output.stdout }}</p>
            <p>{{ history.output.stderr }}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      
      <div ng-if="!$ctrl.historyRecords.length"><span>No history records...</span></div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="$ctrl.hide()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
