<md-dialog aria-label="$ctrl.title" id="jobDialogContainer">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="$ctrl.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon mmd-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="jobForm">

          <md-input-container class="md-block">
            <label>Name</label>
            <input md-maxlength="256"
                   md-no-asterisk
                   name="name"
                   ng-model="$ctrl.job.name">

            <div ng-messages="jobForm.name.$error">
              <div ng-message="md-maxlength">The name must be less than 256 characters long.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Command</label>
            <input required
                   name="command"
                   ng-model="$ctrl.job.command">

            <div ng-messages="jobForm.command.$error">
              <div ng-if="jobForm.command.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
           

            <!--<md-select ng-model="$ctrl.job.host" ng-model-options="{trackBy: '$value._id'}">-->
            <!--  <md-option ng-value="host._id" ng-repeat="host in $ctrl.HostService.hosts">{{ host.hostUri }}</md-option>-->
            <!--</md-select>-->
            
           <label>Host</label>
            <md-select ng-model="$ctrl.job.host">
              <md-option ng-repeat="host in $ctrl.HostService.hosts" ng-value="host._id">
                {{ host.hostUri }}:{{ host.port }}
              </md-option>
            </md-select>
            
            
            <md-button class="md-raised" style="float: right" ng-click="$ctrl.openHostForm($event)">Create a new host</md-button>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Pattern</label>
            <input required
                   name="pattern"
                   ng-model="$ctrl.job.pattern"/>

            <div ng-messages="jobForm.pattern.$error" role="alert">
              <div ng-if="jobForm.pattern.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="$ctrl.submit()">
        Save
      </md-button>
      <md-button class="md-raised" ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
