<md-content>
  <h2>Jobs list</h2>
  <md-button class="md-raised"
             ng-click="$ctrl.openJobDialog($event)">Create a Job
  </md-button>

  <md-card ng-repeat="job in $ctrl.JobService.jobs">

    <md-card-content>
      <h2>ID: <em>{{job._id}}</em></h2>
      <p>Title: <b>{{job.name}}</b></p>
      <p>Recurrence Pattern: <b>{{job.pattern}}</b></p>
      <p>Command Line: <b>{{job.command}}</b></p>
      <p>Created: <b>{{job.createdAt }}</b></p>
      <p>Updated: <b>{{job.updatedAt}}</b></p>
      <p>Next scheduling time: <b>{{job.nextExecTime}}</b></p>
    </md-card-content>

    <md-card-footer>
      <md-button class="md-raised"
                 ng-click="$ctrl.openHistoryDialog($event, job)">History
      </md-button>
      
       <md-button class="md-raised"
                 ng-click="$ctrl.scheduleJob($event, job)">Schedule
      </md-button>
      
       <md-button class="md-raised"
                 ng-click="$ctrl.stopJob($event, job)">Stop
      </md-button>

      <md-button class="md-raised md-primary"
                 ng-click="$ctrl.openJobDialog($event, job)">Edit
      </md-button>

      <md-button class="md-raised md-accent"
                 ng-if="job.deleted"
                 ng-click="$ctrl.restoreJob($event, job)">Restore
      </md-button>

      <md-button class="md-raised md-warn"
                 ng-if="!job.deleted"
                 ng-click="$ctrl.confirmJobDelete($event, job)">Remove
      </md-button>
    </md-card-footer>
  </md-card>
  
  <div ng-if="$ctrl.JobService.isReady && !$ctrl.JobService.jobs.length"><span ng-bind="'No jobs added yet...'"></span></div>
</md-content>
