<md-list>
  <md-list-item class="md-2-line" png-repeat="item in todos">
    <md-checkbox ng-model="item.done"></md-checkbox>
    <div class="md-list-item-text">
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
    </div>
  </md-list-item>
</md-list>
