<md-dialog aria-label="$ctrl.title">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind="$ctrl.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon mmd-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="hostForm">

          <md-input-container class="md-block">
            <label>Uri</label>
            <input required
                   name="hostUri"
                   ng-model="$ctrl.host.hostUri">

            <div ng-messages="hostForm.hostUri.$error">
              <div ng-if="hostForm.hostUri.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Port</label>
            <input type="number" required
                   ng-max="65535"
                   ng-min="0"
                   ng-step="1"
                   name="port"
                   ng-model="$ctrl.host.port">

            <div ng-messages="hostForm.port.$error">
              <div ng-if="hostForm.port.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Username</label>
            <input required
                   name="username"
                   ng-model="$ctrl.host.username"/>

            <div ng-messages="hostForm.username.$error" role="alert">
              <div ng-if="hostForm.username.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input required
                   name="password"
                   ng-model="$ctrl.host.password"/>

            <div ng-messages="hostForm.password.$error" role="alert">
              <div ng-if="hostForm.password.$error" ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="$ctrl.submit()">
        Save
      </md-button>
      <md-button class="md-raised" ng-click="$ctrl.cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
